.vs/
.vscode/

x64/
Debug/
Release/
Win32/

*.user
*.suo

*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.log
vc*.pdb

Trace.dump
*.dump

*.sln
*.vcxproj
*.vcxproj.filters

main_blinky.c
main_full.c
Run-time-stats-utils.c
Trace_Recorder_Configuration/